@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;;
}

section#one{
    border-radius: 0px 0px 40px 40px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

section#one > h2{
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
    padding-top: 25px;
}

section#one > div#circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: auto;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) 50%, hsla(241, 72%, 46%, 0));
    text-align: center;
    margin-top: 30px;
}

section#one > div#circle > div#text{
    display: inline-block;
}

section#one > div#circle > div#text > h1{
    color: white;
    font-size: 4rem;
    margin: 45px 0px 0px 0px;
}

section#one > div#circle > div#text > p{
    color: rgba(255, 255, 255, 0.719);
    font-size: 1rem;
    margin: 0px
}

section#one > h1{
    color: white;
    text-align: center;
    font-size: 2rem; 
    padding-top: 35px;
    margin: 0;
}

section#one > p{
    color: rgba(255, 255, 255, 0.719);
    padding: 10px 35px 50px 35px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
}



section#two > h2{
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    padding-left: 80px;
    color: rgba(0, 0, 0, 0.767);
}

section#two > article{
    text-align: center;
    padding: 0px 20px 0px 20px;
}

section#two > article > div#names{
    display: inline-block;
    padding-right: 100px;
}

section#two > article > div#names > p#reaction{
    padding-bottom: 15px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: hsla(0, 100%, 67%, 0.795);
}

section#two > article > div#names > p#memory{
    padding-bottom: 15px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: hsla(39, 100%, 56%, 0.795);
}

section#two > article > div#names > p#verbal{
    padding-bottom: 15px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: hsla(166, 100%, 37%, 0.795);
}

section#two > article > div#names > p#visual{
    padding-bottom: 15px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: hsla(234, 85%, 45%, 0.795);
}

section#two > article > div#number_bold{
    display: inline-block;
}

section#two > article > div#number_bold > p{
    padding-top: 26px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.692);
}

section#two > article > div#numbers{
    display: inline-block;
}

div#numbers > p{
    padding-top: 26px;
}

section#two > article > div#numbers > p.values{
    color: rgba(0, 0, 0, 0.432);
}

section#two > article > div#buttom{
    margin: auto;
    width: 300px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 20px;
    cursor: pointer;
}

section#two > article > div#buttom:hover{
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

section#two > article > div#buttom > p{
    color: white;
    font-weight: 800;
    padding: 15px;
}

@media screen and (min-width: 768px){
    section#one{
        display: inline-block;
        width: 400px;
        border-radius: 20px 20px 20px 20px;
        background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }

    section#two{
        width: 400px;
        display: inline-block;
    }
}